name: Build Docker Image

on:
  push:
    branches: [ "main" ]
    paths:  
      - 'Dockerfile'
  pull_request:
    branches: [ "main" ]
    paths:  
      - 'Dockerfile'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name:  Login to Docker Hub
      uses:  docker/login-activity@v3
      with:
        username:  ${{ secrets.DOCKER_USERNAME }}
        password:  ${{ secrets.DOCKER_TOKEN}}


    - name: Build the Docker image
      run: docker push sarennalu/rstudio-cowsay:latest
